 @import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

h1 {
    padding-top: 10px;
    color: crimson;
    text-align: center;
}

p {
    font-size: 14px;
}
body {
    width: 100%;
    background: linear-gradient(to right, rgba(22, 87, 136, 0.94), rgba(60, 139, 198, 0.78) );
    font-family: Didact Gothic, verdana, sans-serif;
}

#wrapper {
    max-width: 670px;
    min-width: 670px;
    margin: 0 auto;
    padding-left: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.74);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.54);
}

#logo_company ul li {
    list-style: none;
    display: inline-table;
    margin: 11px;
}