 @import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

* {
    margin: 0;
    padding: 0;
}

#body {
    background: url(../image/bg_2.png);
    width: 100%;
    font-family: Didact Gothic, verdana, sans-serif;
}

#mail {
    padding-right: 10px;
    flex:1;
    text-align: right;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.69);
}


.adress_phone {
    padding-top: 3px;
    width: 300px;
    color: aliceblue;
    font-size: 12px;
    float: right; 
}

#logo {
    flex:1;
}

#logo a {
    display: block;
    width: 345px;
    height: 90px;
    background: url(../image/picture_compo.png) no-repeat;
}

#logo a:hover {
    background-position: 0 -90px;
}

#nav{
    flex:1;
    padding-left: 10px;
    padding-bottom: 10px;
    word-spacing: 38px;
    min-width: 380px;
    margin-top: 3px;
}

#wrapper {
    max-width: 670px;
    margin: 0 auto;
}

#header {
    padding-left: 10px;
    padding-top: 50px;
    display: flex;
}

#nav ul li {
    list-style: none;
    display: inline-table;
    text-shadow: 1px 1px 3px black;
}

#content {
    padding-top: 7%;
    display: flex;
}

#article {
    padding-top: 10px;
    padding-left: 10px;
    flex: 1;
    margin: 8px 0px;
}

#picture_vk {
    padding: 20px 30px;
}

#main_aside {
    flex: 1;
    min-width: 200px;
    background: linear-gradient(to bottom, rgba(23, 113, 180, 0.83), rgba(17, 104, 168, 0.87));
    border-radius: 10px;
    text-align: left;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.51);
    max-height: 370px;
}

h1 {
    font-size: 20px;
}

h2 {
    padding-top: 5px;
    font-size: 12px;
    color: rgba(95, 93, 103, 0.9);
}

#text_aside {
    font-size: 14px;
    margin: 1% 12%;;
    line-height: 20px;
}

#main_section {
    border-radius: 10px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.9);
    flex: 3;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.54);
}

#main_aside ul li {
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
    color: rgba(255, 255, 255, 0.88);
}

p {
    margin-top: 10px;
}

a:hover {
    text-decoration: overline;
}

hgroup {
    text-indent: 5px;
    padding-left: 10%;
    width: 80%;
}

#picture_kompo {
    padding-top: 10px;
    margin: 0px 44px;
}

#footer {
    color: #13477b;
    margin-top: 30px;
    text-align: center;
    font-size: 9px;
}

/* Все что касается документа index_anketa */

#wrapper_anketa {
    margin: 10px 10px;
}

#logo_company{
    padding-top: 40px;
    padding-left: -5px;
}

#logo_company ul li {
    list-style: none;
    display: inline-table;
    margin: 7px;
}

#anketa_logo {
    padding-top: 18px;
    float: right;
}

#anketa_jotform {
    text-align: left;
    margin: 10px;
    padding-top: 30px;
}

#header_back {
    padding-top: 1px;
    /* background: rgba(23, 113, 180, 0.83); */
    background: linear-gradient(to bottom, rgba(23, 113, 180, 0.83), rgba(17, 104, 168, 0.87));
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.54);
    
}

#text_red {
    text-shadow: 1px 1px 3px rgba(0, 208, 24, 0.33);
    color: rgba(20, 52, 162, 0.88);
}

#picture_vk a {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    width: 132px;
    height: 90px;
    background: url(../image/logo.png) no-repeat;
}

#picture_vk a:hover {
    background-position: 0 -91px;
}

#anketa_jotform a {
    float: right;
    display: block;
    margin: 20px;
    width: 42px;
    height: 58px;
    background: url(../image/Anketa.png) no-repeat;
}

#anketa_jotform a:hover {
    background-position: 0 -61px;
}

#anketa_jotform a:active {
    background-position: 0 -122px;
}

#mail ul li {
    list-style: none;
}

#mail ul {
    margin-top: 10px;
    list-style: none;
    float: right;
}

#mail_img a {
    display: block;
    width: 28px;
    height: 22px;
    background: url(../image/mail.png);
}

#mail_img a:hover {
    background-position: 0 -24px;
}

#vk_img a {
    margin-top: 10px;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../image/logo-VK.png);
}

#vk_img a:hover {
    background-position: 0 -30px;
}